# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

# https://github.com/garyexplains/examples/blob/master/how-to-run-llama-cpp-on-raspberry-pi.md
# https://huggingface.co/TheBloke/Llama-2-7b-Chat-GGUF/tree/main
# https://huggingface.co/TheBloke/CodeLlama-7B-Instruct-GGUF/tree/main

# https://huggingface.co/TheBloke/WizardCoder-Python-7B-V1.0-GGUF
# wget https://huggingface.co/TheBloke/WizardCoder-Python-7B-V1.0-GGUF/resolve/main/wizardcoder-python-7b-v1.0.Q2_K.gguf

[Desktop Entry]
Type=Application
Name=7bq2k-wizardcoder-python-v1.0
Comment=AI Chat 7bq2k-wizardcoder-python-v1.0
Icon=/home/YOUR_USERNAME/.local/share/icons/LLaMA.CPP.svg
Exec=sakura -e /home/YOUR_USERNAME/PortablePrograms/llama.cpp/7bq2k-wizardcoder-python-v1.0.sh
Terminal=false
Categories=;
