# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

# https://github.com/garyexplains/examples/blob/master/how-to-run-llama-cpp-on-raspberry-pi.md
# https://huggingface.co/TheBloke/Llama-2-7b-Chat-GGUF/tree/main
# https://huggingface.co/TheBloke/CodeLlama-7B-Instruct-GGUF/tree/main

[Desktop Entry]
Type=Application
Name=codellama
Comment=AI Chat LLaMA Code Instruct
Icon=fbmessenger
Exec=sakura -e /home/YOUR_USERNAME/PortablePrograms/llama.cpp/interactive-codellama-instruct.sh
Terminal=false
Categories=;
