# https://askubuntu.com/questions/902672/registering-appimage-files-as-a-desktop-app?rq=1

# https://github.com/garyexplains/examples/blob/master/how-to-run-llama-cpp-on-raspberry-pi.md
# https://huggingface.co/TheBloke/Llama-2-7b-Chat-GGUF/tree/main
# https://huggingface.co/TheBloke/CodeLlama-7B-Instruct-GGUF/tree/main
# wget https://gpt4all.io/models/gguf/mistral-7b-instruct-v0.1.Q4_0.gguf

[Desktop Entry]
Type=Application
Name=mistral-7b instruct-v0.1 uncensored
Comment=AI Chat mistral-7b instruct-v0.1 uncensored
Icon=/home/YOUR_USERNAME/.local/share/icons/LLaMA.CPP.svg
Exec=sakura -e /home/YOUR_USERNAME/PortablePrograms/llama.cpp/mistral-7b-instruct-v0.1.Q4_0-uncensored.sh
Terminal=false
Categories=;
