#!/usr/bin/env xdg-open

[Desktop Entry]
X-AppInstall-Package=hello-x
X-AppInstall-Popcon=
X-AppInstall-Section=main

Name=hello-x
Comment=Test X-Window Program
TryExec='/home/appu/code/tst/hello-x'
Exec='/home/appu/code/tst/hello-x'
Terminal=false
Type=Application
Icon=application-default-icon
Categories=
StartupNotify=false
MimeType=;

X-Ubuntu-Gettext-Domain=app-install-data
Path='/home/appu/code/tst/hello-x/'
GenericName=Desktop Entry Test
